---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: bob-db
spec:
  serviceName: bob-db
  selector:
    matchLabels:
      app: bob-db
  replicas: 1
  template:
    metadata:
      labels:
        app: bob-db
    spec:
      containers:
        - name: bob-db
          image: quay.io/coreos/etcd:v3.6.6
          volumeMounts:
            - name: bob-db-disk
              mountPath: /var/lib/etcd/data
          env:
            - name: ALLOW_NONE_AUTHENTICATION
              value: "yes"
            - name: ETCD_ADVERTISE_CLIENT_URLS
              value: http://bob-db:2379
            - name: ETCD_LISTEN_CLIENT_URLS
              value: http://0.0.0.0:2379
            - name: ETCD_NAME
              value: bob-db
            - name: ETCD_DATA_DIR
              value: /var/lib/etcd/data
  volumeClaimTemplates:
    - metadata:
        name: bob-db-disk
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 5Gi

---
apiVersion: v1
kind: Service
metadata:
  name: bob-db
spec:
  type: ClusterIP
  selector:
    app: bob-db
  ports:
    - port: 2379
